<!DOCTYPE html>
<html lang="ko">
    {% load static %}
    {% csrf_token %}

    <head>

        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>제주야</title>

        <!-- style
        ================================================== -->
        <link rel="stylesheet" href="/static/_jejuya/css/plugins.css"/>
        <link rel="stylesheet" href="/static/_jejuya/css/custom.css"/>
        <link rel="stylesheet" href="/static/_jejuya/css/styles.css"/>
        <link rel="stylesheet" href="/static/_jejuya/css/index.css"/>
        <link rel="stylesheet" href="/static/search/search.css"/>
        <link rel="stylesheet" href="/static/quform/css/base.css"/>

        <!-- script
        ================================================== -->
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId="></script>

    </head>

    <body style="word-break: keep-all;" class="bg-white">

        <!-- PAGE LOADING ================================================== -->
        <div id="preloader"></div>

        <!-- MAIN WRAPPER ================================================== -->
        <div class="main-wrapper">

            <!-- HEADER
            ================================================== -->
            {% include "_jejuya/parts/header.html" %}

            <!-- MAIN SECTION
            ================================================== -->
            <section class="m-0 p-0 my-4" style="min-height: 100vh;">
                <div class="container">

                    <!-- goback -->
                    <a class="small" href="javascript: window.history.back();">
                        <i class="fa fa-chevron-left"></i> 뒤로가기
                    </a>

                    <!-- title -->
                    <div class="mt-2 mb-5">
                        <p class="m-0 text-dark">
                            관광지 리스트
                        </p>
                        <small class="text-secondary">
                            제주야에서 제공하는 관광지 리스트입니다.
                        </small>
                    </div>

                    <!-- content -->
                    <div class="my-4 shadow" style="overflow-y: scroll;">

                        <table class="table table-bordered" id="resultTable">
                            <tr>
                                <td>
                                    <div style="white-space: nowrap;">
                                        관광지 이름
                                    </div>
                                </td>
                                <td>
                                    주소
                                </td>
                                <td>
                                    연락처
                                </td>
                                <td>
                                    <div style="white-space: nowrap;">
                                        카테고리
                                    </div>
                                </td>
                                <td>
                                    운영시간/휴무일
                                </td>
                                <td>
                                    예약링크 주소
                                </td>
                                <td>
                                    상세정보
                                </td>
                            </tr>
                            {% for around in arounds %}
                            <tr style="font-size: 14px;">
                                <td>
                                    <div style="white-space: nowrap;">
                                        {{ around.name }}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 120px;">
                                        <a href="#" class="text-dark" style="text-decoration: underline;">
                                            {{ around.address }}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div style="white-space: nowrap;">
                                        {{ around.tel }}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 200px;">
                                        {{ around.around_type }}
                                        {% if around.categories.0 != '' %}
                                        <br>
                                        {%for category in around.categories%}{{category}}, {%endfor%}
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div style="white-space: nowrap;">
                                        {{around.open_time}}<br>
                                        {{around.holiday}}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 200px;">
                                        <a href="window.open('{{around.reserve_link}}');" class="text-dark small" style="text-decoration: underline; word-break: break-all; font-size: 10px;">
                                            {{around.reserve_link}}
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 300px;">
                                        {{ around.note|safe }}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>
            </section>

        </div>

        <!-- FOOTER
        ================================================== -->
        {% include "_jejuya/parts/footer.html" %}

        <script src="/static/_jejuya/js/jquery.min.js"></script>
        <script src="/static/_jejuya/js/popper.min.js"></script>
        <script src="/static/_jejuya/js/bootstrap.min.js"></script>
        <script src="/static/_jejuya/js/scrollIt.min.js"></script>
        <script src="/static/_jejuya/js/nav-menu.js"></script>
        <script src="/static/_jejuya/js/easy.responsive.tabs.js"></script>
        <script src="/static/_jejuya/js/owl.carousel.js"></script>
        <script src="/static/_jejuya/js/owl.carousel.thumbs.js"></script>
        <script src="/static/_jejuya/js/animated-headline.js"></script>
        <script src="/static/_jejuya/js/jquery.counterup.min.js"></script>
        <script src="/static/_jejuya/js/jquery.stellar.min.js"></script>
        <script src="/static/_jejuya/js/waypoints.min.js"></script>
        <script src="/static/_jejuya/js/countdown.js"></script>
        <script src="/static/_jejuya/js/clipboard.min.js"></script>
        <script src="/static/_jejuya/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/_jejuya/js/isotope.pkgd.min.js"></script>
        <script src="/static/_jejuya/js/jquery.mousewheel.min.js"></script>
        <script src="/static/_jejuya/js/lightgallery-all.js"></script>
        <script src="/static/_jejuya/js/wow.js"></script>
        <script src="/static/_jejuya/js/prism.js"></script>
        <script src="/static/_jejuya/js/xzoom.js"></script>
        <script src="/static/_jejuya/js/jquery.hammer.min.js"></script>
        <script src="/static/_jejuya/js/setup.js"></script>
        <script src="/static/_jejuya/js/jarallax.min.js"></script>
        <script src="/static/_jejuya/js/jarallax-video.js"></script>
        <script src="/static/_jejuya/js/gsap.js"></script>
        <script src="/static/_jejuya/js/scrolltrigger.js"></script>
        <script src="/static/_jejuya/js/splittext.js"></script>
        <script src="/static/_jejuya/js/gsap-animation.js"></script>
        <script src="/static/_jejuya/js/custom.js"></script>
        <script src="/static/_jejuya/js/main.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/quform/js/plugins.js"></script>
        <script src="/static/quform/js/scripts.js"></script>
        <script src="/static/search/search.js"></script>
        <script>
            window.onload = () => {
                console.log(`Window loaded at ${getNowDt()}`);
            }
        </script>

    </body>

</html>